@using Lab4.Models
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin - Lab4</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    @RenderSection("HeadExtra", required: false)
</head>
<body>
    <div class="d-flex">
        <nav class="bg-dark text-white p-3" style="width: 220px; min-height: 100vh;">
            @await Html.PartialAsync("~/Partials/_AdminSidebar.cshtml")
        </nav>

        <div class="flex-fill p-3">
            <div class="container-fluid">
                @await Html.PartialAsync("~/Partials/_Notification.cshtml", HttpContextAccessor.HttpContext?.Items["Notifications"] as List<NotificationMessage>)
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
