@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<h1 class="display-4">@ViewData["Message"]</h1>

<p class="text-muted">Число: @ViewBag.Number</p>

<a asp-controller="Home" asp-action="About" class="btn btn-primary">Про нас</a>
<a asp-controller="Products" asp-action="Index" class="btn btn-secondary">Перейти до продуктів</a>
