@page
@model Lab1.Pages.RandomNumberModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Random Number</title>
</head>
<body>
    <h1>Згенероване число: <strong>@Model.RandomNumber</strong></h1>
</body>
</html>
