@model Lab10.Models.Appointment
@{
    ViewData["Title"] = "Create Appointment";
}
<h2>Створити зустріч</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title" class="field-validation-error"></span>
    </div>
    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date" />
        <span asp-validation-for="Date" class="field-validation-error"></span>
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
    <div>
        <span asp-validation-summary="All" class="validation-summary-errors"></span>
    </div>
</form>

@await Html.PartialAsync("_ValidationScriptsPartial")
