@{
    ViewData["Title"] = "Головна";
}
<div class="jumbotron">
    <h1>Campus Activity Hub PRO</h1>
    <p class="lead">Організуйте та відвідуйте університетські події легко.</p>
    <p><a class="btn btn-primary" asp-controller="Events" asp-action="Index">Переглянути події</a></p>
</div>
