@{
    ViewData["Title"] = "Search";
    var name = Context.Request.Query["name"].ToString();
    var categoryId = Context.Request.Query["categoryId"].ToString();
}

<h1>Products Search</h1>
<p><strong>Name:</strong> @name</p>
<p><strong>CategoryId:</strong> @categoryId</p>
