@page
@model Lab6.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Lab6</h1>

<p>Learn about building Web apps with ASP.NET Core.</p>

<nav>
    <ul>
        <li><a asp-page="/Books/Index">Завдання 1: Books</a></li>
        <li><a asp-page="/Students/Index">Завдання 2: Students</a></li>
        <li><a asp-page="/Products/Index">Завдання 3: Products</a></li>
    </ul>
</nav>

<h2>Завдання 4:</h2>

<dl>
    <dt>1.Що таке Entity Framework Core і яку роль він відіграє у Razor Pages? </dt>
    <dd>EF Core — ORM для .NET; замінює SQL на роботу через класи і LINQ.</dd>

    <dt>2. У чому полягає різниця між класами моделі та класом DbContext?</dt>
    <dd>Моделі — класи для рядків таблиць; DbContext — сервіс для доступу і збереження змін.</dd>

    <dt>3. Яке призначення має метод OnGet() та OnPost() у Razor Pages? </dt>
    <dd>OnGet — підготовка даних при відкритті; OnPost — обробка форми після відправки.</dd>

    <dt>Чим відрізняються операції Add, Update, Remove у EF Core? </dt>
    <dd>Add — вставка; Update — оновлення; Remove — видалення.</dd>

    <dt>5. Для чого використовується команда dotnet ef migrations add і як вона пов’язана з базою даних?</dt>
    <dd>Створює міграцію (код змін схеми); database update застосовує її до БД.</dd>
</dl>
