<div>
    <h5 class="text-white">Admin Panel</h5>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" href="/Admin">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/Admin/Users">Users</a></li>
    </ul>
</div>
