@model List<Lab4.Models.NotificationMessage>?
@{
    var list = Model ?? new List<Lab4.Models.NotificationMessage>();
}

@if (list.Any())
{
    <div id="notifications">
        @foreach (var n in list)
        {
            var cls = n.Type == Lab4.Models.NotificationType.Success ? "alert-success"
            : n.Type == Lab4.Models.NotificationType.Error ? "alert-danger"
            : "alert-warning";
            <div class="alert @cls" role="alert">@n.Text</div>
        }
    </div>
}
