@model IEnumerable<Lab8.Models.Post>
@{
    ViewData["Title"] = "Blog";
}
<h1>Blog posts</h1>
<p><a class="btn btn-primary" href="/Posts/Create">Create new post</a></p>
@if (!Model.Any())
{
    <p>No posts yet.</p>
}
<ul class="list-group">
    @foreach (var p in Model)
    {
        <li class="list-group-item">
            <h5>@p.Title</h5>
            <p>by <strong>@p.Author</strong></p>
            <p><a href="/Posts/Details/@p.Id">Read more</a></p>
        </li>
    }
</ul>
