@page
@model Lab6.Pages.Books.CreateModel
<h2>Add Book</h2>
<form method="post">
    <div>
        <label>Title</label>
        <input asp-for="Book.Title" />
    </div>
    <div>
        <label>Author</label>
        <input asp-for="Book.Author" />
    </div>
    <div>
        <label>Year</label>
        <input asp-for="Book.Year" type="number" />
    </div>
    <button type="submit">Save</button>
</form>
<p><a asp-page="Index">Back to list</a></p>
