@model Lab9.Models.Product
<h3>Товар створено</h3>
<p><strong>Назва:</strong> @Html.Encode(Model.Name)</p>
<p><strong>Ціна:</strong> @Model.Price</p>
<p><strong>Опис:</strong> @Html.Encode(Model.Description)</p>
