@model Lab10.Models.Feedback
@{
    ViewData["Title"] = "Feedback";
}
<h2>Зворотній зв'язок</h2>

<form asp-action="Index" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title" class="field-validation-error"></span>
    </div>
    <div>
        <label asp-for="Message"></label>
        <textarea asp-for="Message"></textarea>
        <span asp-validation-for="Message" class="field-validation-error"></span>
    </div>
    <div>
        <input type="submit" value="Send Feedback" />
    </div>
    <div>
        <span asp-validation-summary="All" class="validation-summary-errors"></span>
    </div>
</form>

@await Html.PartialAsync("_ValidationScriptsPartial")
