@model Lab9.Models.Feedback
<h3>Повідомлення відправлено</h3>
<p><strong>Ім'я:</strong> @Html.Encode(Model.Name)</p>
<p><strong>Email:</strong> @Html.Encode(Model.Email)</p>
<p><strong>Текст:</strong> @Html.Encode(Model.Message)</p>
