@page
@model Lab4.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Users";
}

<h2>Users list</h2>

<table id="users-table" class="table table-striped">
    <thead>
        <tr><th>Avatar</th><th>Name</th><th>Email</th></tr>
    </thead>
    <tbody>
        @foreach (var u in Model.Users)
        {
            <tr>
                <td>
                    <img src="@u.AvatarUrl" alt="avatar" class="rounded-circle" style="width:40px;height:40px;object-fit:cover;"
                         onerror="this.onerror=null;this.src='/images/default-avatar.png';" />
                </td>
                <td>@u.Name</td>
                <td>@u.Email</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#users-table').DataTable();
        });
    </script>
}
