@{
    ViewData["Title"] = "Home";
}
<h1>Home</h1>
<p><strong>Завдання 1: Message:</strong> @ViewBag.MessageFromService</p>
<p><strong>Завдання 2: Now:</strong> @ViewBag.Now</p>
<p><strong>Завдання 3: Random:</strong> @ViewBag.Random</p><br />
<a href="/Test/Index" class="btn btn-secondary">Посилання на TestController</a><br />
<a href="/Calculator/Index" class="btn btn-secondary">Завдання 4</a><br />
<a href="/Email/Send" class="btn btn-secondary">Завдання 5</a>