@model Lab10.Models.ContactForm
@{
    ViewData["Title"] = "Contact";
}
<h2>Контактна форма</h2>

<form asp-action="Send" method="post">
    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" />
        <span asp-validation-for="FullName" class="field-validation-error"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="field-validation-error"></span>
    </div>
    <div>
        <label asp-for="Message"></label>
        <textarea asp-for="Message"></textarea>
        <span asp-validation-for="Message" class="field-validation-error"></span>
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
    <div>
        <span asp-validation-summary="All" class="validation-summary-errors"></span>
    </div>
</form>

@await Html.PartialAsync("_ValidationScriptsPartial")
