@model Lab10.Models.UserRegistration
@{
    ViewData["Title"] = "Register";
}
<h2>Реєстрація користувача</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="field-validation-error"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="field-validation-error"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="field-validation-error"></span>
    </div>

    <div>
        <input type="submit" value="Register" />
    </div>

    <div>
        <span asp-validation-summary="All" class="validation-summary-errors"></span>
    </div>
</form>

@await Html.PartialAsync("_ValidationScriptsPartial")
