<div class="flex justify-between bg-white p-6 rounded-lg shadow">
    <button class="p-4 bg-green-500 text-white rounded hover:bg-green-700 smooth-transform">Кнопка 1</button>
    <button class="p-4 bg-green-500 text-white rounded hover:bg-green-700 smooth-transform">Кнопка 2</button>
    <button class="p-4 bg-green-500 text-white rounded hover:bg-green-700 smooth-transform">Кнопка 3</button>
</div>
