@model Lab10.Models.EventRegistration
@{
    ViewData["Title"] = "Event Registration";
}
<h2>Реєстрація на подію</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="field-validation-error"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" class="field-validation-error"></span>
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" type="number" />
        <span asp-validation-for="Age" class="field-validation-error"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="field-validation-error"></span>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
    <div>
        <span asp-validation-summary="All" class="validation-summary-errors"></span>
    </div>
</form>

@await Html.PartialAsync("_ValidationScriptsPartial")
